input[type="checkbox"] {
    position: relative;
    top: 4px;
    left: 2px;
    width: 20px;
    height: 20px;
    appearance: none;
    z-index: 10;
}

.label {
    position: relative;
}

.label::before {
content: "";
background: url("../../Images/tick.png");
background-position: center;
background-size: contain;
width: 20px;
height: 20px;
position: absolute;
left: -33px;
top: -8px;

transform: scale(0) rotateZ(180deg);
transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked + .label::before {
transform: scale(1) rotateZ(0deg);
}

.label::after {
content: "";
/* border: 2px solid #27ae60; */
border: 2px solid rgb(145 142 142);
width: 13px;
height: 13px;
position: absolute;
left: -31px;
top: -6px;
border-radius: 50%;
}